<!DOCTYPE html>
<html>
<head>
  <title>Data PostgreSQL</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">
  <h1 class="text-2xl font-bold mb-6 text-center">Data LPSPL SORONG</h1>

  <% if (data.length > 1) { %>
    <table class="w-full table-auto border-collapse border border-blue-500">
      <thead>
        <tr>
          <% Object.keys(data[0]).forEach(key => { %>
            <th class="px-6 py-4 bg-blue-500 text-white"><%= key %></th>
          <% }) %>
          <th class="bg-blue-500 text-white">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
          <tr>
            <% for (const key in row) { %>
              <td class="border border-cyan-500 px-4 py-2"><%= row[key] %></td>
            <% } %>
            <td class="border border-cyan-500 px-4 py-2">
              <a href="edit.ejs" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Ubah Data
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h1 class="text-xl text-center">Tidak ada data yang ditemukan.</h1>
  <% } %>
</body>
</html>
