<!DOCTYPE html>
<html>
<head>
    <title>500</title>
       <link href="../output.css" rel="stylesheet">
</head>
<body>
<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
<h1>500</h1>
      <div class="text-sky-500 dark:text-sky-400">
        <%=errorMessages%>
      </div>
  </div>
</figure>
</body>
</html>

